header{
    max-width: 1248px;
    margin: 0 auto;
    padding-top: 50px;
}
nav{
    display: flex;
    align-items: center;
}

ul{
    display: flex;
}
li{
    margin-right: 40px;
}
.logo{
    padding-right: 121px;
}

.button_request{
    display: flex;
    align-items: center;
    margin-left: 418px;
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 29px;
    font-weight: 800;
    line-height: 160%;
    background: #FFFFFF;
    box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
    border-radius: 50px;
    letter-spacing: 0.005em;
    color: #212353;
}
.button_arrow{
    padding-left: 20px;
    padding-right: 29px;
}

.header{
    background-image: url(file:///D:/IOT%20-%2023/Web/image/image1.svg);
    background-repeat: no-repeat;
    background-position: right bottom;
}
.header_title{
    padding-top: 60px;
    width: 645px;
    font-size: 80px;
    line-height: 110%;
}
.header_txt{
    padding-top: 50px;
    padding-bottom: 50px;
    width: 380px;
    font-weight: 500;
    font-size: 21px;
    line-height: 160%;
}
.header_learnmore{
    margin-bottom: 100px;
    width:170px;
    height: 60px;
    background: #9C69E2;
    border-radius: 50px;
    font-weight: 800;
    font-size: 18px;
    line-height: 160%;
    color: #FFFFFF;
}
